.controller {
  background-image: url("https://usuario.github.io/repo/mimando.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
