/* === MANDO PS4 PERSONALIZADO === */
.controller.ds4 {
  background-image: url("https://mrnicoxd.github.io/gampead-ps4/ps4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 800px;   /* ajusta si queda muy grande */
  height: 400px;

  border: 4px solid red;      /* borde rojo */
  box-shadow: 0 0 20px red;   /* brillo rojo */
}

/* === EFECTO BOTONES === */
.button.pressed {
  filter: brightness(2);
  transform: scale(0.9);
}

/* === GATILLOS === */
.trigger.pressed {
  filter: brightness(2);

  .button,
.dpad,
.stick {
  opacity: 0;
}

}

