.controller {
  background-image: url("https://mrnicoxd.github.io/gampead-ps4/T9vsWlsHgOBq57og_000.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

