.controller {
  background-image: url("https://mrnicoxd.github.io/gampead-ps4/T9vsWlsHgOBq57og_000.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
 /* BORDE ROJO DE PRUEBA */
  border: 3px solid red !important;
}

/* === BOTONES AL PRESIONAR === */
.button.pressed {
  filter: brightness(1.8) !important;
  transform: scale(0.95) !important;
}

/* === GATILLOS === */
.trigger.pressed {
  filter: brightness(1.8) !important;
}

/* === STICKS === */
.stick.pressed {
  filter: brightness(1.6) !important;
}
.button.x {
  position: absolute;
  left: 520px;
  top: 260px;
}
